# Este archivo sirve como plantilla para que otros desarrolladores
# sepan qué variables de entorno requiere el proyecto.
# NO PONGAS CONTRASEÑAS NI CLAVES REALES AQUÍ.

VITE_API_URL=http://localhost:9002
VITE_PORT=5173

# VITE_APP_NAME="My Rentta App"
# VITE_MAPS_API_KEY=""
